<div id="banner">
	<%= render :partial => 'finder' %>
	<h1>
		<%= @child.name %> (<%= @child.klass.display %>)
		<%= link_to ">>", children_path %>		
	</h1>
</div>

<% @child.accounts(:order => 'account_type_id', :include => :account_type).each do |account| %>
	<%= render :partial => 'accounts/cashregister', :locals => {:account => account} %>
<% end -%>
	

