<div class="footbar">
<%= link_to "Ny tilmeldingsliste...", list_path %> |
<%= link_to "Børn", children_path %> |
<%= link_to "Klasser", klasses_path %> |
<%= link_to "Konti", account_types_path %> |
<%= link_to "Fremsøg kontolinier", lines_path %> |
<%= link_to "Log ud", logout_sessions_path if logged_in? %>	
</div>
