<div id="banner">
	<h1><%= @client.name %> (<%= @client.klass %>)</h1>
	<%= render :partial => 'finder' %>
</div>
<div class="mcol">
	<%= render :partial => 'accounts/cashregister', :locals => {:name => 'mad'} %>
</div>
<div class="lcol">
	<%= render :partial => 'accounts/cashregister', :locals => {:name => 'bar'} %>
</div>
<div class="rcol">
	<%= render :partial => 'accounts/cashregister', :locals => {:name => 'tur'} %>
</div>
	

