<div id="banner">
	<h1><%= @client.name %> (<%= @client.klass %>)</h1>
	<%= render :partial => 'finder' %>
</div>
<div class="mcol">
	Mad
	<div class="total">
	<%= @client.account('mad').total %>,-
	</div>
	<%= link_to '>>', client_account_lines_path(@client, @client.account('mad')) %>
	<%= render :partial => 'lines/line', :object => @client.account('mad') %>
</div>

<div class="lcol">
	Bar	
	<div class="total">
		<%= @client.account('bar').total %>,-
	</div>
	<%= link_to '>>', client_account_lines_path(@client, @client.account('bar')) %>
	<%= render :partial => 'lines/line', :object => @client.account('bar') %>
</div>

<div class="rcol">
	Aktiviteter
	<div class="total">
		<%= @client.account('tur').total %>,-
	</div>
	<%= link_to '>>', client_account_lines_path(@client, @client.account('tur')) %>
	<%= render :partial => 'lines/line', :object => @client.account('tur') %>	
</div>
	

