<h1>Ret kontotype</h1>

<% form_for(@account_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, 'Kontotype' %><br />
    <%= f.text_field :title %>
  </p>
	<div class="buttons">
	  <div class="half">
	    <%= f.submit 'OK' %>
	  </div>
		<div class="half">
			<%= link_to 'Fortryd', account_types_path %>
		</div>
	</div>
	<br class="clearfix"/>

<% end %>
