<h1>Klasser</h1>

<table class="list">
  <tr>
    <th>Navn</th>
    <th>Årgang</th>
    <th>Spor</th>
    <th>Antal børn</th>
  </tr>

<% @klasses.each do |klass| %>
  <tr>
    <td><%= link_to klass.display, klass %></td>
    <td><%=h klass.startyear %></td>
    <td><%=h klass.name %></td>
    <td><%=h klass.children.size %></td>
    <td><%= link_to 'Ret', edit_klass_path(klass) %></td>
    <td><%= link_to 'Slet', klass, :confirm => 'Er du sikker på du vil slette? Alle børn oog konti vil blive slettet!', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny klasse...', new_klass_path %>