<h1><%= @klass.display %></h1>
<h2>Årgang <%= @klass.startyear %></h2>
<%= pluralize @klass.children.count, "elev", "elever" %>

<ul>
<% @klass.children.each do |pupil| %>
	<li>
		<%= link_to pupil.name, child_path(pupil) %>
	</li>
<% end -%>
</ul>
<%= link_to 'Opret barn...', new_klass_child_path(@klass) %> |


<%= link_to 'Ret klasse', edit_klass_path(@klass) %> |
<%= link_to 'Klasser', klasses_path %>